<div class="background" [class]="isDarkMode() ? 'dark' : 'light'">
    <div class="background-image"></div>
</div>
<div id="page" [class]="isDarkMode() ? 'dark' : 'light'">
    <header>
        <h1>TODO</h1>
        <img
            [src]="
                isDarkMode()
                    ? '/assets/challenges/todo-app/images/icon-sun.svg'
                    : '/assets/challenges/todo-app/images/icon-moon.svg'
            "
            (click)="switchTheme()"
            (keydown.enter)="switchTheme()"
            tabindex="0"
            alt="Theme switch icon"
        />
    </header>

    <main>
        <form class="item-container form" [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="check"></div>
            <input type="text" formControlName="descricao" placeholder="Create a new todo..." />
            @if (descricaoValida()) {
                <img
                    src="/assets/challenges/todo-app/images/icon-check.svg"
                    (click)="onSubmit()"
                    (keydown.enter)="onSubmit()"
                    tabindex="0"
                    alt="Submit new todo"
                />
            }
        </form>

        @if (filteredTodos().length > 0) {
            <div class="todo-list">
                @for (todo of filteredTodos(); track todo.id) {
                    <div
                        class="item-container todo"
                        [ngClass]="{ completed: todo.state === TodoStateEnum.Completed }"
                        (click)="changeTodoState(todo.id)"
                        (keydown.enter)="changeTodoState(todo.id)"
                        tabindex="0"
                    >
                        <div class="check">
                            <div class="check-icon"></div>
                        </div>
                        <p>{{ todo.description }}</p>
                        <div
                            class="delete"
                            (click)="removeTodo(todo.id)"
                            (keydown.enter)="removeTodo(todo.id)"
                            tabindex="0"
                        ></div>
                    </div>
                }
                <footer class="item-container todo">
                    <p>
                        {{ itemsLeft() > 0 ? itemsLeft + ' item' + (itemsLeft() > 1 ? 's' : '') : 'No items' }}
                        left
                    </p>
                    <p (click)="clearCompleted()" (keydown.enter)="clearCompleted()" tabindex="0">Clear Completed</p>
                </footer>
            </div>
        } @else {
            <div class="todo-list">
                <div class="item-container todo" style="border-radius: 5px">
                    <p>The list is empty...</p>
                </div>
            </div>
        }

        <div class="item-container menu">
            <p>
                {{ itemsLeft() > 0 ? itemsLeft() + ' item' + (itemsLeft() > 1 ? 's' : '') : 'No items' }}
                left
            </p>
            <div class="menu-wrapper">
                <div
                    class="link"
                    [class.active]="stateFilter() === TodoStateEnum.All"
                    (click)="changeStateFilter(TodoStateEnum.All)"
                    (keydown.enter)="changeStateFilter(TodoStateEnum.All)"
                    tabindex="0"
                >
                    All
                </div>
                <div
                    class="link"
                    [class.active]="stateFilter() === TodoStateEnum.Active"
                    (click)="changeStateFilter(TodoStateEnum.Active)"
                    (keydown.enter)="changeStateFilter(TodoStateEnum.Active)"
                    tabindex="0"
                >
                    Active
                </div>
                <div
                    class="link"
                    [class.active]="stateFilter() === TodoStateEnum.Completed"
                    (click)="changeStateFilter(TodoStateEnum.Completed)"
                    (keydown.enter)="changeStateFilter(TodoStateEnum.Completed)"
                    tabindex="0"
                >
                    Completed
                </div>
            </div>
            <p (click)="clearCompleted()" (keydown.enter)="clearCompleted()" tabindex="0">Clear Completed</p>
        </div>
    </main>

    <!-- Clear Completed All Active Completed Drag and drop to reorder -->

    <!-- <div class="attribution">
  Challenge by
  <a href="https://www.frontendmentor.io?ref=challenge" target="_blank"
    >Frontend Mentor</a
    >. Coded by <a href="#">Your Name Here</a>.
  </div> -->
</div>
