@use '../styles/variables.scss' as variables;

#game-container {
    min-width: 100vw;
    min-height: 100vh;
    background: variables.$background;
    overflow: auto;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
