<div id="page-container">
    <div id="page">
        <div class="card main">
            <div class="upper">
                <img src="/assets/challenges/time-tracking-dashboard/images/image-jeremy.png" alt="" />
                <div class="text">
                    <p>Report for</p>
                    <h1>Jeremy Robson</h1>
                </div>
            </div>

            <div class="menu">
                <div
                    class="item"
                    [ngClass]="{ active: timeframe() === 'daily' }"
                    (click)="setDaily()"
                    (keydown.enter)="setDaily()"
                    tabindex="1"
                >
                    Daily
                </div>
                <div
                    class="item"
                    [ngClass]="{ active: timeframe() === 'weekly' }"
                    (click)="setWeekly()"
                    (keydown.enter)="setWeekly()"
                    tabindex="2"
                >
                    Weekly
                </div>
                <div
                    class="item"
                    [ngClass]="{ active: timeframe() === 'monthly' }"
                    (click)="setMonthly()"
                    (keydown.enter)="setMonthly()"
                    tabindex="3"
                >
                    Monthly
                </div>
            </div>
        </div>

        @for (data of data(); track data) {
            <div class="card">
                <div class="bg-icon"></div>
                <div class="upper">
                    <header>
                        <h2>{{ data.title }}</h2>
                        <img
                            src="/assets/challenges/time-tracking-dashboard/images/icon-ellipsis.svg"
                            alt="Menu icon"
                        />
                    </header>
                    <div class="text">
                        <h3>{{ data.timeframes[timeframe()].current }}hrs</h3>
                        <p>
                            {{
                                timeframe() === 'daily'
                                    ? 'Yesterday'
                                    : timeframe() === 'weekly'
                                      ? 'Last Week'
                                      : 'Last Month'
                            }}
                            -
                            {{ data.timeframes[timeframe()].previous }}hrs
                        </p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
