.escolhas {
    margin-top: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 17px;
    background-image: url('/assets/challenges/rock-paper-scissors/images/bg-triangle.svg');
    background-size: 215px;
    background-repeat: no-repeat;
    background-position: center 50px;
    column-gap: 90px;
    place-items: center;

    :last-child {
        grid-column: 1 / 3;
    }
}
