<div id="page">
    <div id="container">
        <div id="splitter">
            <p>SPLI</p>
            <p>TTER</p>
        </div>

        <div id="calculator">
            <div class="form" autocomplete="off">
                <!-- BILL -->
                <div class="field">
                    <div class="header">
                        <span class="name">Bill</span>
                        <div class="errors">
                            @if (billError()) {
                                <span class="error"> {{ billError() }} </span>
                            }
                        </div>
                    </div>
                    <label for="bill" class="input__wrapper" [ngClass]="{ invalid: !!billError() }">
                        <div class="input icon dollar"></div>
                        <input [(ngModel)]="bill" id="bill" type="number" placeholder="0" />
                    </label>
                </div>

                <!-- TIP -->
                <div class="field">
                    <div class="header">
                        <span class="name"> Select Tip % </span>
                        @if (tipPercentError()) {
                            <div class="errors">
                                <span class="error">{{ tipPercentError() }}</span>
                            </div>
                        }
                    </div>
                    <div class="buttons">
                        @for (percentage of percentages; track percentage) {
                            <button
                                type="button"
                                (click)="updatePercentageAndResetInput(percentage)"
                                [ngClass]="{
                                    active: percentage === tipPercent(),
                                }"
                            >
                                {{ percentage / 100 | percent }}
                            </button>
                        }

                        <input
                            #tipCustomInput
                            type="number"
                            placeholder="Custom"
                            (input)="updatePercentage(+tipCustomInput.value)"
                            [ngClass]="{
                                active: tipCustomInput.value && +tipCustomInput.value === tipPercent(),
                                invalid: !!tipPercentError(),
                            }"
                        />
                    </div>
                </div>

                <!-- Number of People -->
                <div class="field">
                    <div class="header">
                        <span class="name">People</span>
                        <div class="errors">
                            @if (peopleError()) {
                                <span class="error"> ({{ peopleError() }}) </span>
                            }
                        </div>
                    </div>
                    <label for="people" class="input__wrapper" [ngClass]="{ invalid: peopleError() }">
                        <div class="input icon person"></div>
                        <input [(ngModel)]="people" id="people" type="number" placeholder="0" />
                    </label>
                </div>
            </div>

            <div id="result">
                <div class="item">
                    <div class="text">
                        <p class="primary">Tip Amount</p>
                        <p class="secondary">/ person</p>
                    </div>
                    <span class="value">
                        {{ '$' + result().tipPerPerson.toFixed(2) }}
                    </span>
                </div>

                <div class="item">
                    <div>
                        <p>Total</p>
                        <p>/ person</p>
                    </div>
                    <span class="value">
                        {{ '$' + result().totalPerPerson.toFixed(2) }}
                    </span>
                </div>

                <button [disabled]="false" (click)="resetForm()">Reset</button>
            </div>
        </div>
    </div>

    <div class="attribution">
        Challenge by
        <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>. Coded by
        <a href="#">Your Name Here</a>.
    </div>
</div>
