<div id="page">
  <div id="container">
    <div id="splitter">
      <p>SPLI</p>
      <p>TTER</p>
    </div>

    <div id="calculator">
      <form [formGroup]="form" autocomplete="off">
        <!-- BILL -->
        <div class="field">
          <div class="header">
            <span class="name">Bill</span>
            <div class="errors">
              <span class="error" *ngIf="isFieldInvalid(bill) && bill.hasError('required')">
                Required
              </span>
              <span class="error" *ngIf="isFieldInvalid(bill) && bill.hasError('min')">
                Can't be
                {{ bill.getError("min").actual >= 0 ? "zero" : "negative" }}
              </span>
            </div>
          </div>
          <label for="bill" class="input__wrapper" [ngClass]="{ invalid: isFieldInvalid(bill) }">
            <div class="input icon dollar"></div>
            <input formControlName="bill" id="bill" type="number" placeholder="0" />
          </label>
        </div>

        <!-- TIP -->
        <div class="field">
          <div class="header">
            <span class="name"> Select Tip % </span>
            <div class="errors" *ngIf="tipPercent.hasError('min')">
              <span class="error">Can't be negative</span>
            </div>
          </div>
          <div class="buttons">
            <button type="button" *ngFor="let percentage of percentages" (click)="
                tipPercent.setValue(percentage); tipCustomInput.value = ''
              " [ngClass]="{ active: percentage == tipPercent.value }">
              {{ percentage/100 | percent }}
            </button>

            <input #tipCustomInput type="number" placeholder="Custom" formControlName="tipPercent" [ngClass]="{
                active: +tipCustomInput.value == tipPercent.value,
                invalid: isFieldInvalid(tipPercent)
              }" />
          </div>
        </div>

        <!-- Number of People -->
        <div class="field">
          <div class="header">
            <span class="name">People</span>
            <div class="errors">
              <span class="error" *ngIf="isFieldInvalid(people) && people.hasError('required')">
                Required
              </span>
              <span class="error" *ngIf="isFieldInvalid(people) && people.hasError('min')">
                Can't be
                {{ people.getError("min").actual >= 0 ? "zero" : "negative" }}
              </span>
              <span class="error" *ngIf="isFieldInvalid(people) && people.hasError('pattern')">
                Only integers
              </span>
            </div>
          </div>
          <label for="people" class="input__wrapper" [ngClass]="{ invalid: isFieldInvalid(people) }">
            <div class="input icon person"></div>
            <input formControlName="people" id="people" type="number" placeholder="0" />
          </label>
        </div>
      </form>

      <div id="result">
        <div class="item">
          <div class="text">
            <p class="primary">Tip Amount</p>
            <p class="secondary">/ person</p>
          </div>
          <span class="value">
            {{ "$" + result.tipPerPerson.toFixed(2) }}
          </span>
        </div>

        <div class="item">
          <div>
            <p>Total</p>
            <p>/ person</p>
          </div>
          <span class="value">
            {{ "$" + result.totalPerPerson.toFixed(2) }}
          </span>
        </div>

        <button [disabled]="false" (click)="resetForm()">Reset</button>
      </div>
    </div>
  </div>

  <div class="attribution">
    Challenge by
    <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>. Coded by <a href="#">Your
      Name Here</a>.
  </div>
</div>
