<div class="jogada">
    <div class="jogador">
        <div class="text">YOU PICKED</div>

        <app-game-escolha-circle
            [size]="200"
            [escolha]="jogador()"
            [clickable]="false"
            [highlight]="resultado() === ResultadoEnum.Jogador"
        >
        </app-game-escolha-circle>
    </div>

    @if (resultado() !== null) {
        <div class="result" @grow>
            <div class="text">{{ textoResultado() }}</div>
            <button (click)="resetar()">PLAY AGAIN</button>
        </div>
    }

    <div class="jogador">
        <div class="text">THE HOUSE PICKED</div>

        <app-game-escolha-circle
            [size]="200"
            [escolha]="computador()"
            [clickable]="false"
            [highlight]="resultado() === ResultadoEnum.Computador"
        >
        </app-game-escolha-circle>
    </div>
</div>
