<div class="bg__image"></div>

  <div class="container">

    <div class="card">

      <img class="card__image" src="assets/challenges/order-summary/images/illustration-hero.svg" alt="">

      <div class="card__content">
        <h1>
          Order Summary
        </h1>

        <p>
          You can now listen to millions of songs, audiobooks, and podcasts on any
          device anywhere you like!
        </p>

        <div class="plan">

          <article>
            <img src="assets/challenges/order-summary/images/icon-music.svg" alt="">
            <div>
              <h4>Annual Plan</h4>
              <p>$59.99/year</p>
            </div>
          </article>

          <button class="btn__change"> Change </button>
        </div>

        <button class="payment">
          Proceed to Payment
        </button>

        <button class="cancel">
          Cancel Order
        </button>
      </div>

    </div>
  </div>

  <div class="attribution">
    Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>.
    Coded by <a href="#">Bruno Schmidt</a>.
  </div>
